
<div class="nav-container">
    <nav class="nav-main">
        <ul class="nav-menu">
            <li>
                <a href="/" class="link">Página Principal<i class="fas fa-angle-double-right"></i></a>
            </li>
             <li>
                <a href="/leonardo" class="link">Leonardo da Vinci</a>
            </li>
             <li>
                <a href="/vangohg" class="link">Van Gogh</a>
            </li>
             <li>
                <a href="/frida" class="link">Frida Kahlo</a>
            </li>
            <li>
                <a href="/picasso" class="link">Pablo Picasso</a>
            </li>
             <li>
                <a href="/acerca" class="link">Acerca de mi</a>
            </li>
        </ul>
        <ul>
             <li>
                <a href="https://twitter.com/AchellxX" class="icon icon-twitter" target="_blank"></a>
            </li>
             <li>
                 <a href="https://github.com/Achellx/g-Soto-Alejandro-Paginadinamica-Pintores.git" class="icon icon-github" target="_blank"></a>
            </li>
             <li>
                 <a href="https://www.youtube.com/channel/UCRWv8s81obFHacnq-UfM_ig?" class="icon icon-youtube" target="_blank"></a>
            </li>
        </ul>
    </nav>
    <hr class="hr">
</div>
<div class="container">
