{{>header}}
{{>navbar}}
    <h1>Acerca de mi</h1>
    <p>Página realizada por Alejandro Soto Aguirre</p>
    <p>4°G</p>
    <div class="thumbinner img-fluid" style="width: 450px; height: 450px;">
        <img src="/images/twoob.jpg" alt="" class="img-fluid">
    </div>
{{>footer}}