{{>header}}
{{>navbar}}
    <h1>Frida Kahlo</h1>
    <h3>Biografía</h3>
    <p>
        Frida Kahlo en realidad se llamaba Magdalena Carmen Frida Kahlo Calderón, fue la tercera hija de un fotógrafo alemán llamado Guillermo Kahlo y de su esposa, Matilde Calderón.
        <div class="thumbinner img-fluid" style="width: 600px; height: 400px; text-align: right;">
            <img src="/images/frida.jpg" alt="" class="img-fluid" width="600" height="350">
            <i>Auto retrato</i>
        </div>
        <br>
        <p>
            Durante su infancia, Frida contrajo muchas enfermedades y tuvo varios accidentes. La primera enfermedad que tuvo fue una poliomielitis, que le dejó una pierna más delgada que la otra y además la obligó a quedarse en cama durante nueve meses y a hacerse muchas operaciones. Su padre intentó por aquella época animarla a hacer deportes como el fútbol y el boxeo, pero después de todas las operaciones y la rehabilitación, a Frida le costaba demasiado practicar esas actividades o juntarse con los demás niños de su edad para jugar.
            <br><br>
            Frida estaba sentía muchísimo aprecio hacia su padre, que la acompañaba en todo momento en el hospital y durante la rehabilitación, y con su hermana menor Cristina, con quien estuvo siempre muy unida y tenía un lazo de cariño muy fuerte.
            En 1922 asistió a la Escuela Nacional Preparatoria, donde habían comenzado a admitir mujeres. Allí se unió a un grupo llamado “Los Cachuchas”, alumnos de la misma escuela que querían cambiar el sistema escolar y político de México con sus nuevas ideas y su pensamiento.
            Comenzó a trabajar en un taller de grabado de un amigo de su padre como aprendiz, pero no se había interesado mucho por la pintura, y sólo se dedicaba a copiar los grabados que su maestro le indicaba.
            <br><br>
            En 1925 Frida tuvo un accidente, y el bus donde viajaba fue atropellado por un tranvía. Tuvo tantas lesiones que tuvo que someterse a un total de 32 operaciones que la dejaron años postrada en la cama de un hospital para asegurarse de que sus huesos sanaban del todo.
            Durante ese período fue cuando comenzó a pintar cuadros para expresar el dolor que sentía y que estaba sola.
            En 1929 se casó con Diego Rivera, otro artista que pintaba murales. Diego admiraba los cuadros de Frida y la animaba a seguir pintando, mientras que ella también admiraba sus murales y daba su opinión al respecto. Ambos estuvieron cuatro años viviendo en el extranjero y haciendo varias exposiciones de sus cuadros.
            <br><br>
            En 1953, Frida decidió hacer una exposición en México, en la Galería de Arte Contemporáneo. Por entonces, Frida estaba muy débil y tenía muy mala salud, así que los médicos le prohibieron asistir, pero ella asistió de todas maneras entrando a la galería en ambulancia, contando chistes y divirtiéndose.
            Su salud fue decayendo cada vez más, hasta que en 1954 Frida murió en Coyoacán.
        </p>
    </p>
    <h3>Mis pinturas favoritas</h3>
    <div class="thumbinner" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/frida-diego.jpg" alt="" width="450" height="450">
        <i>Frida y Diego Rivera, 1931</i>
    </div>
    <br><br>
    <div class="thumbinner" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/unos-cuantos-piquetitos.jpg" alt="" width="450" height="450">
        <i>Unos cuantos piquetitos, 1935</i>
    </div>
    <br><br>
    <div class="thumbinner img-fluid" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/naturaleza-muerta.jpg" class="img-fluid" alt="" width="450" height="450">
        <i>Naturaleza muerta, 1942</i>
    </div>
    <br><br>
     <div class="thumbinner" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/frida-cesarea.jpg" alt="" width="450" height="450">
        <i>Frida y la cesárea, 1931</i>
    </div>
    <br><br>
    <div class="thumbinner img-fluid" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/las-dos-fridas.jpg" class="img-fluid" alt="" width="450" height="450">
        <i>Las dos Fridas, 1931</i>
    </div>
{{>footer}}