<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Página web sitio dinamico</title>
    <link rel="shortcut icon" href="/styles/fonts/ms-icon-144x144.png">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="">
</head>
<body class="body">

<div class="nav-container">
    <nav class="nav-main">
        <ul class="nav-menu">
            <li>
                <a href="/" class="link">Página Principal<i class="fas fa-angle-double-right"></i></a>
            </li>
             <li>
                <a href="/leonardo" class="link">Leonardo da Vinci</a>
            </li>
             <li>
                <a href="/vangohg" class="link">Van Gogh</a>
            </li>
             <li>
                <a href="/frida" class="link">Frida Kahlo</a>
            </li>
             <li>
                <a href="/acerca" class="link">Acerca de mi</a>
            </li>
        </ul>
        <ul>
             <li>
                <a href="https://twitter.com/AchellxX" class="icon icon-twitter" target="_blank"></a>
            </li>
             <li>
                 <a href="https://github.com/Achellx/g-Soto-Alejandro-Paginadinamica-Pintores.git" class="icon icon-github" target="_blank"></a>
            </li>
             <li>
                 <a href="https://www.youtube.com/channel/UCRWv8s81obFHacnq-UfM_ig?" class="icon icon-youtube" target="_blank"></a>
            </li>
        </ul>
    </nav>
    <hr class="hr">
</div>
    <header class="showcase">
        <h2>Mis pintores favoritos</h2>
        <p>A lo largo de esta página expondre algunos de mis pintores favoritos</p>
    </header>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
<div class="footer">
  <div style="text-align: center">© 2020 Copyright: Alejandro Soto Aguirre 4°G - {{year}}
  </div>
</div>
</html>
    
