{{>header}}
{{>navbar}}
    <h1>Pablo Picasso</h1>
    <h3>Biografía</h3>
    <p>
         Pablo Ruiz Picasso (n. Málaga, España; 25 de octubre de 1881 – f. Mougins, Francia; 8 de abril de 1973), conocido como Pablo Picasso, fue un pintor y escultor español, creador, junto con Georges Braque y Juan Gris, del movimiento cubista.
        <div class="thumbinner img-fluid" style="width: 450px; height: 500px; text-align: right;">
            <img src="/images/picasso.jpg" class="img-fluid" alt="" width="450" height="450">
            <i>Fotografia</i>
        </div>
        <br>
        <p>
             Considerado uno de los mayores artistas del siglo XX, participó desde la génesis de muchos movimientos artísticos que se propagaron por el mundo y ejercieron una gran influencia en otros grandes artistas de su tiempo. Incansable y prolífico, pintó más de dos mil obras actualmente presentes en museos y colecciones de toda Europa y del mundo. Además, abordó otros géneros como el dibujo, el grabado, la ilustración de libros, la escultura, la cerámica y el diseño de escenografía y vestuario para montajes teatrales.
            <br><br>
            En lo político, Picasso se declaraba pacifista y comunista. Fue miembro del Partido Comunista Francés hasta su muerte,el 8 de abril de 1973 en Notre-Dame-de-Vie (Mougins, Francia) a los 91 años. Está enterrado en el parque del castillo de Vauvenargues (Bouches-du-Rhone).
        </p>
    </p>
    <h3>Mis pinturas favoritas</h3>
     <div class="thumbinner img-fluid" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/los-tres-musicos.jpg" alt="" width="450" height="450">
        <i>Los tres músicos,1921</i>
    </div>
    <br><br>
    <div class="thumbinner img-fluid" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/chicha-espejo.jpg" alt="" width="450" height="450">
        <i>Chica frente a un espejo, 1932</i>
    </div>
    <br><br>
    <div class="thumbinner img-fluid" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/guernica.jpg" alt="" width="450" height="450">
        <i>Guernica, 1937</i>
    </div>
    <br><br>
     <div class="thumbinner img-fluid" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/señoritas.jpg" class="img-fluid" alt="" width="450" height="450">
        <i>Las señoritas de Aviñon, 1907</i>
    </div>
    <br><br>
    <div class="thumbinner img-fluid" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/lavida.jpg" alt="" width="450" height="450">
        <i>La vida, 1903</i>
    </div>
{{>footer}}