{{>header}}
{{>navbar}}
    <h1>Vincet Van Gogh</h1>
    <h3>Biografía</h3>
    <p>
        Vincent Van Gogh nació el 30 de marzo del año 1853 en Holanda. Era el hijo mayor de un sacerdote de quien heredó la vocación religiosa, su familia no tenía demasiado dinero.
        <div class="thumbinner img-fluid" style="width: 800px; height: 500px; text-align: right;">
            <img src="/images/van-gogh.jpg" class="img-fluid" alt="" width="800" height="450">
            <i>Retrato de Van Gogh</i>
        </div>
        <br>
        <p>
             En 1863 entró en el colegio de Zerenbergen, pero tuvo que abandonarlo por la situación económica de sus padres.
             A los 16 años empezó a trabajar como empleado en la Galería de Arte Goupil de La Haya, que estaba siendo dirigida por su tío. Allí comienza su afición por la pintura y la literatura.
            <br><br>
            La galería se trasladó a Londres y Vincent decidió mudarse a una pensión. Allí llevó una vida tranquila y comenzó a dibujar, pero después de ser rechazado por la mujer de la que estaba enamorado, se volvió violento y huraño y se trasladó a París.
            En esos momentos tan deprimentes de su vida vio la religión como su único camino y decidió hacerse sacerdote, pero no fue admitido en el seminario. Al fin se hizo predicador, nombrado por el consistorio de Bruselas, y fue destinado a Borinage. Allí convivió con unos mineros, pero después de apoyar una de sus huelgas le retiraron de la vida religiosa y él decidió dedicarse enteramente a la pintura y a la lectura.
            <br><br>
            Trabajó como profesor, predicador y vendedor de libros, hasta darse cuenta de que el dibujo era su verdadera pasión. Gracias a su hermano Theo entró a los 27 años en la Academia de pintura de Bruselas. En un viaje a La Haya en 1881 empieza a relacionarse con los círculos de artistas del lugar y decide interesarse por la naturaleza muerta.
            Aunque siguió dibujando no conseguía vender sus dibujos ni sus cuadros y empezó a recibir dinero de su hermano Theo, con quien se escribió cartas durante toda su vida para informarle de su situación.
            Vincent empezó a tener alucinaciones y a padecer dolores muy graves, así que su hermano decidió ingresarlo en el Hospital de Saint Paul, donde le rechazaron. El Hospital de Saint Reney lo acogió y le diagnosticaron epilepsia y esquizofrenia.
            Aún con su enfermedad, Vincent siguió pintando y dibujando sin parar, aunque sus obras continuaron sin tener éxito y sin darle dinero. Tan sólo vendió dos cuadros en su vida.
            El 29 de julio del año 1890 Vincent murió en Francia.
        </p>
    </p>
    <h3>Mis pinturas favoritas</h3>
    <div class="thumbinner img-fluid" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/autorretrato-sombrero-paja-medium.jpg" alt="" width="450" height="450">
        <i>Auto retrato, 1887</i>
    </div>
    <br><br>
    <div class="thumbinner" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/noche-estrellada-sobre-el-rodano-medium.jpg"  alt="" width="450" height="450">
        <i>Noche estrellada sobre el rodano, 1888</i>
    </div>
    <br><br>
    <div class="thumbinner" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/la-noche-estrellada.jpg" alt="" width="450" height="450">
        <i>La noche estrellada, 1889</i>
    </div>
    <br><br>
    <div class="thumbinner" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/campo-de-trigo-con-cipreses.jpg" alt="" width="450" height="450">
        <i>Campo de trigo con cipreses, 1889</i>
    </div>
    <br><br>
    <div class="thumbinner" style="width: 450px; height: 500px; text-align: right;">
        <img src="/images/cartero.jpg" alt="" width="450" height="450">
        <i>Retrato del cartero Joseph Roulin, 1889</i>
    </div>
{{>footer}}