

ul {
    list-style: none;
}

.hr {
    border-bottom: 2px solid #ffffff;
    margin: auto;
    
}
/*Navegación*/
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}


.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.nav-main ul li a:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
}

/*Footer*/
.footer {
    background: black;
    color: gray;
    float: left;
    font-size: 11px;
    line-height: 18px;
    margin: 30px 0 0;
    padding: 54px 0 20px !important;
    width: 100%;
}

/*Bootstrap imagen*/
.img-fluid  {
    display: block;
    max-width: 100%;
    width: 100%;
}
 
.container {
    background-color: black transparent;
    margin-left: 20%;
    margin-right: 20%;
    position: static;
    top: 0;
    width: 60%;
    margin-top: 50px;
    max-height: 100%;
    border-radius: 0 0 10px 10px;
    color: #ffffff;
    display: block;
}

.nav-container {
    width: 90%;
    margin: auto;
}

div {
    display: block;
}

.body    {
    
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #1e272e;
}

/*Showcase*/
.showcase {
    width: 100%;
    color: #ffffff;
    height: 550px;
    background: url('/images/showcase.jpg') no-repeat center center/cover;
    margin: auto;
    width: 90%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

div.thumbinner {
    border: 1px solid #c8ccd1;
    padding: 3px;
    background-color: #f8f9fa transparent;
    font-size: 94%;
    text-align: right;
    overflow: hidden;
    color: #ffffff;
}

.link {
    text-decoration: none;
    color: #ffffff;
}


.icon   {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
    border-radius: 50px;
    margin: 2px;
    left: 0;
    
}

.icon-twitter   {
    background: #339DC5;
}

.icon-github    {
    background: #171515;
}

.icon-youtube   {
    background: #E83028;
}

.icon-undo2  {
    background-color:white;
    color: black;
}

.icon:hover {
    display: block;
    border-radius: 50px;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

.bodyalternative    {
    background: black;
    overflow-y: scroll;
    display: block;
}